<%-include("partials/header")-%>

<h1>About</h1>

    <img src="https://pbs.twimg.com/profile_images/1065156485083095040/lMEkmSLV_400x400.jpg"  id = "image" class="img-fluid"  alt="Responsive image">

<p><%= aboutContent%></p>
<ul>
    <li><a href="https://github.com/priyajeet-7396/journal-v1">github</a></li>
  </ul>
<%-include("partials/footer")-%>



