<%-include("partials/header")-%>

<h1>contact</h1>
<p><%=contactContent %></p>
<img src="https://pbs.twimg.com/profile_images/1065156485083095040/lMEkmSLV_400x400.jpg"  id = "image" class="img-fluid"  alt="Responsive image">
<ul>
    <li>priyajeetsaxena@gmail.com</li>
    <li><a href="https://www.linkedin.com/in/priyajeet-saxena-46000a172/">linkedIn </a></li>
    <li><a href="https://www.instagram.com/mr_saxena__/?igshid=YmMyMTA2M2Y%3D">Instagram</a></li>
    <li><a href="https://github.com/priyajeet-7396">github</a></li>
  </ul>

<%-include("partials/footer")-%>